#btnSearch{
    text-align: center;
}

#country{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header1{
    font-size: 100px; font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bold;
}

#tblShowWeather{
    mar
}